body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

h1,
h2,
h3 {
    margin: 10px 0;
}

main {
    padding: 30px;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 10px;
    background: beige;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    margin: 15px;
    transition: all 0.3s ease;
    width: 250px;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.img-card {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

input,
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #444;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
    margin-top: 30px;
}